In [41]:
import glob
import cv2
import keras
import pandas as pd
import numpy as np

In [14]:
files=glob.glob('train_image/**')

In [15]:
data=pd.read_csv('class_table.csv')

In [17]:
data

,Unnamed: 0,UID,CLASS_1_ETT,CLASS_2_NGT,CLASS_3_CVC
0,0,1.2.826.0.1.3680043.8.498.26697628953273228189...,0,1.0,0.0
1,1,1.2.826.0.1.3680043.8.498.46302891597398758759...,1,1.0,1.0
2,2,1.2.826.0.1.3680043.8.498.23819260719748494858...,0,0.0,1.0
3,3,1.2.826.0.1.3680043.8.498.68286643202323212801...,0,0.0,1.0
4,4,1.2.826.0.1.3680043.8.498.10050203009225938259...,0,0.0,1.0
...,...,...,...,...,...
30078,30078,1.2.826.0.1.3680043.8.498.74257566841157531124...,1,0.0,1.0
30079,30079,1.2.826.0.1.3680043.8.498.46510939987173529969...,0,0.0,1.0
30080,30080,1.2.826.0.1.3680043.8.498.43173270582850645437...,1,1.0,1.0
30081,30081,1.2.826.0.1.3680043.8.498.95092491950130838685...,0,0.0,1.0
30082,30082,1.2.826.0.1.3680043.8.498.99518162226171269731...,1,0.0,1.0

In [106]:
class Data_gen(keras.utils.Sequence):
    """Helper to iterate over the data (as Numpy arrays)."""

    def __init__(self, batch_size, img_size, input_img_paths):
        self.batch_size = batch_size
        self.img_size = img_size
        self.input_img_paths = input_img_paths
        #self.target_img_paths = target_img_paths

    def __len__(self):
        return len(self.target_img_paths) // self.batch_size

    def __getitem__(self, idx):
        """Returns tuple (input, target) correspond to batch #idx."""
        i = idx * self.batch_size
        batch_input_img_paths = self.input_img_paths[i : i + self.batch_size]
        #batch_target_img_paths = self.target_img_paths[i : i + self.batch_size]
        x = np.zeros((self.batch_size, self.img_size,self.img_size,3), dtype="float32")
        for j, path in enumerate(batch_input_img_paths):
            img = cv2.imread(path).astype(np.float32)
            img=cv2.resize(img,(self.img_size,self.img_size))
            x[j] = img/255
        
        y=np.zeros((self.batch_size,3))
        for j, path in enumerate(batch_input_img_paths):
            _row=data.loc[data['UID']==path.split('\\')[-1][:-4]]
            y[j] =(_row['CLASS_1_ETT'].values[0],_row['CLASS_2_NGT'].values[0],_row['CLASS_3_CVC'].values[0])

        return x,y

In [107]:
datagen=Data_gen(2,256,files)

In [110]:
datagen.__getitem__(idx=1)[1]

array([[0., 0., 1.],
       [0., 0., 1.]])